<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOneTouchServices" 
                         allowCookies="true"
                         maxReceivedMessageSize="20000000"
                         maxBufferSize="20000000"
                         maxBufferPoolSize="20000000"
                         closeTimeout="00:10:00"
                         openTimeout="00:10:00"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:10:00">
                    <security mode="Transport" />
                    <readerQuotas maxDepth="32"
                                  maxArrayLength="200000000"
                                  maxStringContentLength="200000000"/>
                </binding>
                <binding name="BasicHttpBinding_IOneTouchServices1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sandbox.services.apexedi.com/V1/onetouch.soap/soapService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices"
                contract="OneTouchService.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices" />
        </client>
    </system.serviceModel>
</configuration>