<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOneTouchServices">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IOneTouchServices1" />
                <binding name="BasicHttpBinding_IOneTouchServices2">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IOneTouchServices3" />
                <binding name="BasicHttpBinding_IOneTouchServices4" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://production.services.apexedi.com/V1/onetouch.soap/soapService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices"
                contract="ProdServices.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices" />
            <endpoint address="http://localhost:9562/onetouch.soap/soapService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices4"
                contract="LocalRef.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices2" />
            <endpoint address="https://sandbox.services.apexedi.com/V1/onetouch.soap/soapService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices2"
                contract="SandBoxServices.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices1" />
        </client>
    </system.serviceModel>
</configuration>