<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!--API Credentials-->
    <add key="Key_1.5" value=""/>
    <add key="Password_1.5" value=""/>
    <add key="VendorSiteId" value=""/>
    <add key="WriteSerializedXML" value="false"/>
    <add key="WriteANSI5010" value="false"/>
    <add key="WriteStatus" value="false"/>
    <add key="LastBinding" value=""/>
    <add key="EligFirstName" value=""/>
    <add key="EligCommonName" value=""/>
    <add key="EligPayeeNpi" value=""/>
    <add key="EligTaxId" value=""/>
    <add key="EligPayerId" value=""/>
    <add key="EligSubscriberFirstName" value=""/>
    <add key="EligSubscriberLastName" value=""/>
    <add key="EligSubscriberDob" value=""/>
    <add key="EligSubscriberGender" value=""/>
    <add key="EligSubscriberId" value=""/>
    <add key="ApiVersion" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOneTouchServicesLocal" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="1024000" maxBytesPerRead="1024000" maxNameTableCharCount="1024000" />
        </binding>
        <binding name="BasicHttpBinding_IOneTouchServices2" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="1024000" maxBytesPerRead="1024000" maxNameTableCharCount="1024000" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IOneTouchServices" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="1024000" maxBytesPerRead="1024000" maxNameTableCharCount="1024000" />
        </binding>
        <binding name="BasicHttpBinding_IOneTouchServices3" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="1024000" maxBytesPerRead="1024000" maxNameTableCharCount="1024000" />
        </binding>
        <binding name="BasicHttpBinding_IOneTouchServices5" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="1024000" maxBytesPerRead="1024000" maxNameTableCharCount="1024000" />
        </binding>
        <binding name="BasicHttpBinding_IOneTouchServices1" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="1024000" maxBytesPerRead="1024000" maxNameTableCharCount="1024000" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IOneTouchServices4" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="1024000" maxBytesPerRead="1024000" maxNameTableCharCount="1024000" />
        </binding>
        <binding name="BasicHttpBinding_IOneTouchServices6">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IOneTouchServices7" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52846/onetouch.soap/soapService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServicesLocal"
        contract="ApexLocal.IOneTouchServices" name="BasicHttpBinding_IOneTouchServicesLocal" />
      <endpoint address="https://sandbox.services.apexedi.com/V1/onetouch.soap/soapService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices2"
        contract="ApexSandbox.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices2" />
      <endpoint address="http://localhost:9562/onetouch.soap/soapService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices"
        contract="ApexLocal9562.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices" />
      <endpoint address="http://localhost:9557/onetouch.soap/soapService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices3"
        contract="ApexLocal9557.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices3" />
      <endpoint address="http://production.services.apexedi.com/V1/onetouch.soap/soapService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices5"
        contract="ApexProductionCloud.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices5" />
      <endpoint address="https://production.services.apexedi.com/V1/onetouch.soap/soapService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices1"
        contract="ApexProductionCloud2.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices1" />
      <endpoint address="http://clayton2.services.apexedi-eng.com/V1/onetouch.soap/soapService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices4"
        contract="WebServiceClayton2.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices4" />
    </client>
  </system.serviceModel>
</configuration>
