<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <configSections>
      <section name="Apex.ServiceFoundation" type="Apex.ServiceFoundation.Configuration.ServiceFoundationSection, Apex.ServiceFoundation"/>
    </configSections>

  <Apex.ServiceFoundation>
    <Interfaces>
      <Interface Type="Apex.Services.IClientManager" Assembly="Apex.Services">
        <DirectEndpoint Primary="localhost:23002"/>
      </Interface>
    </Interfaces>
  </Apex.ServiceFoundation>
</configuration>