<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Apex.Diagnostics.Logging" type="Apex.Diagnostics.Logging.ConfigurationHandler, Apex.Diagnostics"/>
    <section name="Apex.ServiceFoundation" type="Apex.ServiceFoundation.Configuration.ServiceFoundationSection, Apex.ServiceFoundation"/>
  </configSections>
  <appSettings>
    <add key="MadaketV2Endpoint" value="http://enrollment.madakethealth.com/services/api/v1.2" />
    <add key="MadaketV2TestEndpoint" value="https://test.madakethealth.com/services/api/v1.2"/>
    <add key="UseMadaketTest" value="true"/>
    <add key="MadaketKey" value="apexedi" />
    <add key="MadaketSecret" value="Apex1edi"/>
    <add key="MadaketAuthId" value="apexedi"/>
    <add key="MadaketPartnerShortName" value="APEXAPI"/>
    <add key="MadaketTestKey" value="apexedi" />
    <add key="MadaketTestSecret" value="Apex1edi"/>
    <add key="MadaketTestAuthId" value="apexedi"/>
    <add key="MadaketTestPartnerShortName" value="APEXAPI"/>
  </appSettings>


  <Apex.ServiceFoundation>
    <Interfaces>
      <Interface Type="Apex.AdministrativeServices.Contracts.Clients.IClientService" Assembly="Apex.AdministrativeServices.Contracts">
        <DirectEndpoint Primary="localhost:23001"/>
      </Interface>
      <Interface Type="Apex.AdministrativeServices.Contracts.Providers.IProviderService" Assembly="Apex.AdministrativeServices.Contracts">
        <DirectEndpoint Primary="localhost:23001"/>
      </Interface>
      <Interface Type="Apex.AdministrativeServices.Contracts.Providers.IProviderRegistrationService" Assembly="Apex.AdministrativeServices.Contracts">
        <DirectEndpoint Primary="localhost:23001"/>
      </Interface>
      <!--
      <Interface Type="Apex.AdministrativeServices.Contracts.Providers.IProviderService" Assembly="Apex.AdministrativeServices.Contracts">
        <DirectEndpoint Primary="localhost:23001"/>
      </Interface>
      <Interface Type="Apex.AdministrativeServices.Contracts.Providers.IProviderRegistrationService" Assembly="Apex.AdministrativeServices.Contracts">
        <DirectEndpoint Primary="localhost:23001"/>
      </Interface>
      <Interface Type="Apex.ClaimServices.Internal.Contracts.IInternalProviderService" Assembly="Apex.InternalClaimServiceContracts">
        <DirectEndpoint Primary="localhost:23001"/>
      </Interface>-->
    </Interfaces>
  </Apex.ServiceFoundation>

  <Apex.Diagnostics.Logging>
    <appender name="ApexFileAppender" type="Apex.Diagnostics.Logging.Internal.Appender.ApexRollingFileAppender">
      <logFileDirectory value="C:\ApexServices\LogFiles"/>
      <layout type="Apex.Diagnostics.Logging.Internal.Layout.PatternLayout">
        <conversionPattern value="%date{h:mm:ss tt} [%thread]%tab%displaylevel: %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="ApexFileAppender"/>
    </root>
  </Apex.Diagnostics.Logging>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
