<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOneTouchServices" closeTimeout="00:30:00"
                         openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                         maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                                maxArrayLength="1024000" maxBytesPerRead="1024000" maxNameTableCharCount="1024000" />
                  <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IOneTouchServices1" />
            </basicHttpBinding>
        </bindings>
      <!--<client>
        <endpoint address="https://production.services.apexedi.com/V1/onetouch.soap/soapService"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices"
                  contract="ApexSandboxApi.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices" />
      </client>-->
      <client>
        <endpoint address="https://sandbox.services.apexedi.com/V1/onetouch.soap/soapService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneTouchServices"
          contract="ApexSandboxApi.IOneTouchServices" name="BasicHttpBinding_IOneTouchServices" />
      </client>
    </system.serviceModel>
</configuration>